body {
max-width: 1350vw;
padding: 1px 1px 1px 1px;
background: rgb(61, 45, 46);
font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background: #503c37;
width: 98vw;
height: 13vh;
font-family: Georgia, 'Times New Roman', Times, serif;
 }

.barra {

}
  
#title {
height: 15vh;
flex-direction: column;
line-height: 10px;
}

#logo {
padding: 15px;
padding-left: 150px;
}

li {
display: inline-block;
margin: 10px;
padding: 20px;
color: white;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

li:hover {
color: yellow;
}

a {
color: white;
font-size: 10px;
padding: 10px;
text-decoration: none;
}

main {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 15px;
max-width: 1350vw;
margin: 0;
}

h2 {
font-size: 50px;
line-height: 10px;
margin-left: 200px;
color:white;
max-height: 50px;
}

span {
color: rgb(255, 255, 255);
font-size: 30px;
margin-left: 0px;
}

.certa{
border-right: 5px solid rgba(255, 255,255, 0.75);
border-radius: 02px;
font-family: Georgia, 'Times New Roman', Times, serif;
white-space:nowrap;
overflow: hidden;
}

aside>h1>span{
font-size: 50px;
margin-left: 200px;
line-height: 10px;
}

aside>h3{
font-size: 30px;
margin-left: 200px;
line-height: 10px;
}

article{
height: 340px;
margin-right: 150px;
border-radius: 50px;
}

img {
border-radius: 55500px;
}

.ajuste {
display: flex;
justify-content: center;
align-items: center;
margin-left: 140px;
}

.linkedin {
display: flex;
align-items: center;
justify-content: center;
width: 25vw;
color: white;
background:  #503c37 ;
border-radius: 50px;
 }

.linkedin>span{
font-size: 30px;
font-weight: bold;
}

.linkedin:hover{
letter-spacing: 0.5em;
transition: 0.3s ease-out;
}

.sobremim {
display: flex;
flex-direction: column;
align-items: center;
height: 60vh;
color: rgb(182, 174, 174);
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background:  #503c37;
width: 97.8vw;
}

#sobre {
height: 2vh;
color: rgb(182, 174, 174);
}
#sobre:hover{
color:white;
}

hr {
width: 1330px;
margin: 0;
opacity: 15%;
}

#projetos {
color: rgb(182, 174, 174);
font-size: 75px;
display: flex;
justify-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 10px;
}

#projetos:hover{
color:white;
}

.conteudo {
width: 1320px;
height: 300px;
display: flex;
align-items: center;
justify-content: space-around;

}

.itens {
border-radius: 50px;
display: flex;
justify-content: center;
color: rgb(182, 174, 174);
font-size: 25px;
align-items: center;
width: 300px;
height: 200px;
box-shadow: 1px 1px 20px 1px rgba(160, 148, 148, 0.5);

 }

.itens:hover{
color:white;
}

.habilidades{
display: flex;
justify-content: center;
align-items: center;
color:  rgb(182, 174, 174);
font-size: 75px;
line-height: 5px;
}

.anima{
animation: pi 900ms  infinite normal,
pi2 4s steps(40) 1s normal  both;
}

@keyframes pi  {
from{
  border-right-color:rgba(255, 255,255, 0.75); 
}
to{
border-right-color:transparent ;
}
}

        
    

  
        
 